---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Agosto 2023 - Actualmente (1 año y 9 meses)",
    title: "BrangerBriz",
    company: "FullStack Developer",
    description:
      "Desarrollo de aplicaciones web para empresas y particulares. Creación de una plataforma de gestión de eccomerce con Nextjs, Node.js y MongoDB.",
    link: "https://brangerbriz.com/",
  },
  {
    date: "Marzo 2023 - Agosto 2023 (6 meses)",
    title: "GoGo",
    company: "FullStack Developer",
    description:
      "Desarrollé una aplicación Movile con React Native y Node.js para la gestión de vehículos y su mantenimiento impactando a más de 600K taxistas en Colombia.",
    link: "https://play.google.com/store/apps/details?id=com.gogo.beatlab&pli=1",
  },
  {
    date: "Marzo 2023 - Agosto 2023 (6 meses)",
    title: "Moa Digital Works",
    company: "FullStack Developer",
    description:
      "Web developer con tecnologías como React y graphql para contruir una red social para una empresa de USA especificamente para influenciadores, enfrentando grandes retos técnicos.",
    link: "https://www.linkedin.com/company/moadw/",
  },
  {
    date: "Mayo 2021 - Marzo 2023 (1 años y 11 meses)",
    title: "Treinta",
    company: "Frontend Developer",
    description:
      "Empecé desde los inicios en el equipo hasta que se convirtiera en una super empresa de alto crecimiento donde impactamos +5 Millones de usuarios, logrando que cada micronegocio sustituya al libro de transacciones físico para los 50 millones de empresas latinas que aún están desconectadas del mundo digital",
    link: "https://www.treinta.co/",
  },
  {
    date: "Febrero 2018 - Abril 2021 (3 años y 3 meses)",
    title: "CSF - BBVA",
    company: "Frontend Developer",
    description:
      "Logré automatizar procesos de cartera de los clientes BBVA a nivel nacional un 90% creando una plataforma para agilizar análisis y aumentar la productividad de los empleados, haciendo tareas que conllevan 12 horas a 30 minutos, Participé en ser pionero de tecnología en el área ya que en ese momento no contaba con tecnologías como javascript, react, vba, y tuve la oportunidad de implementarlo.",
  },
];
---

<ol class="relative">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
